<div class="text-center">
	<h1>About</h1>

	<h3>Created by</h3>

	<h4>William 			| 1901493415 	| Back-end</h4>
	<h4>Michael Gunawan		| 1901493415 	| Front-end</h4>
	<h4>Kelvin hadi Pratama | 1901493415 	| Front-end</h4>
</div>