<div class="text-center">
	<h3>Click to be part of our community</h3>

	<%= form_for :user, url: join_path, method: :get do |f| %>
	  <%= f.submit "Be seller", class: "btn btn-shops" %>
	<% end %>
</div>