<div class="form-inline clearfix">
	<div class="nested-fields">
		<div class="field">
			<%= f.file_field :name,:title => "Add images", "data-filename-placement" => "inside", class: "full-width"%>
		</div>
		<%= link_to_remove_association "del", f , class: 'glyphicon glyphicon-add remove-btn' %>
	</div>
</div>